<% provide(:title, 'All posts') %>
<h1>All post</h1>

<%= will_paginate %>

<ul class="users">
<% if (@posts.empty?) %> 
    <p align="center">No posts! be the first person to create one.</p> 
    <br>
<% else %>
  <% @posts.each do |post| %>
   <%= render post %>
  <% end %>
<% end %>
</ul>

<%= will_paginate %>
