<% provide(:title, 'Show Post') %>
<div class="row">
  
    
      <h3>       
        <%= @post.title %>
      </h3>
      <i>Posted <%= time_ago_in_words(@post.created_at) %> ago.</i>
    
  
</div>