<footer class="footer">
	<p>
		@copyright 2018 |Amazers programming blog.
	</p>
	<nav>
		<ul>
		    <li><%= link_to "About",'#' %></li>
		    <li><%= link_to "Contact", '#' %></li>
		</ul>
	</nav>
</footer>